# MODIFY THE FOLLOWING VALUES SO THAT THE PROGRAM SEES YOUR FILES
#directory = '/local/scratch/yz360/corpus/ctb5/data/bracketed'
#directory = '/Users/yue/Documents/Data/ctb5/data/bracketed'
directory = '/Users/yue_zhang/Research/data/smew/ctb5/data/bracketed'
range = [(1, 815), (1001, 1136)]
#range = [(886, 931), (1148, 1151)]
#range = [(816, 885), (1137, 1147)]
labeled = True

